<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="INFO" class="ch.qos.logback.core.FileAppender">
        <file>../log/info.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date [%thread] %-5level [%file:%line] %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.FileAppender">
        <file>../log/error.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date [%thread] %-5level [%file:%line] %msg%n</Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="DEBUG" class="ch.qos.logback.core.FileAppender">
        <file>../log/debug.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date [%thread] %-5level [%file:%line] %msg%n</Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date [%thread] %-5level [%file:%line] %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="WARN" class="ch.qos.logback.core.FileAppender">
        <file>../log/warn.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date [%thread] %-5level [%file:%line] %msg%n</Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="INFO"/>
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="ERROR"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="WARN"/>
    </root>
</configuration>
