<?xml version="1.0" encoding="UTF-8" ?>
<configuration> <!-- debug="true" - add this attribute to configuration tag for printing status info. It works only if configuration file was found and wasn't malformed XML
                     scan="true" - add this attribute to configuration tag for reloading configuration info
                     scanPeriod="30 seconds" - this attribute configures timeout between configuration changes scanning
                     packagingData="true" - this attribute add information about package/jar for stacktrace in logging -->
    <!--<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />-->
    <!-- Uncommented the line above to print status information in console for each run -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
